@import "tailwindcss";


@tailwind utilities;

body
{
  color:white  
}

@tailwind utilities;



@font-face {
  font-family: 'Minecraft';
  src: url('/minecraft-font/MinecraftRegular-Bmg3.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme
{
  --color-newspaper: #f5e6c5;
  --color-ink: #2b2b2b;
  --color-paperborder: #d3c4a3;
}


@theme {
  --font-minecraft: "Minecraft", sans-serif;
}


@theme {
  --font-sans: "Minecraft", sans-serif;
}

